@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  /* navigation-link  color: #000; */
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  border: 0;
  margin: -1;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Навигация */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo {
  margin-right: 31px;
  z-index: 1;
}

.logo > img {
  margin-bottom: -11px;
}

.navigation-list {
  align-items: center;
  list-style-type: none;
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  text-decoration: none;
  color: #000;
}

.navigation-link .navigation-user {
  min-width: 18px;
  min-height: 18px;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  height: 2px;
  background-color: #756257;
  content: "";
  top: 64px;
  left: 17px;
  right: 17px;
}

.navigation-user {
  max-width: 380px;
  justify-content: end;
}
/* сомневаюсь что это правильное решение */
.navigation-icon-search {
  margin-bottom: -2px;
  margin-right: -12px;
}

.navigation-icon {
  fill: #756157;
}
.navigation-link:focus > .navigation-icon,
.navigation-link:hover > .navigation-icon {
  fill: #000;
}
.navigation-link:active > .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.button {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background: #e5e5e5;
}

.navigation-button {
  box-sizing: border-box;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  margin-left: 15px;
}

.navigation-button-link {
  color: #fff;
  text-align: center;
  padding: 8.5px 15px;
  border-radius: 4px;
}
.navigation-button-link:hover {
  background: #615048;
}
.navigation-button-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Слоган */
.slogan-background {
  position: relative;
  text-align: center;
  background-color: #b8d3e6;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.slogan-background::after {
  content: "";
  position: absolute;
  background-image: url("../images/Vector.png");
  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;
}

.advantages-slogan {
  margin-top: 63px;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subslogan {
  margin-bottom: 90px;
  color: #333333;
  text-align: center;
}

/* Приемущества */
.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-picture2 {
  order: -1;
}

.advantages-wrapper {
  box-sizing: border-box;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 400px;
  height: 384px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.title-position {
  padding-top: 28px;
}

.advantages-home::before {
  content: "";
  background-image: url("../images/Home.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto;
}

.advantages-food {
  padding-top: 80px;
}

.advantages-food::before {
  content: "";
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto;
}

.advantages-souvenirs::before {
  content: "";
  background-image: url("../images/Suvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 0 auto;
}

.advantages-disription {
  color: #333333;
  margin: 0;
}

.advantages-wrapper-sity,
.advantages-wrapper-diablo {
  background: #82b3d3;
  color: #fff;
  padding-top: 92px;
}

.advantages-disription-main {
  color: #fff;
}

.advantages-wrapper-light {
  background: rgba(131, 179, 211, 0.12);
  padding-top: 80px;
}

.advantages-wrapper-dark {
  background: rgba(131, 179, 211, 0.2);
  padding-top: 103px;
}

.square-top,
.torists-top {
  padding-top: 103px;
}

.list-number {
  display: block;
  margin-bottom: 30px;
}

/* Услуги */

.services {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 93px;
}

.services-title {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-discription {
  margin-bottom: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.services-button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 574px;
  height: 60px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 0;
  padding-top: 12px;
}

.services-button:hover {
  background: #615048;
}
.services-button:focus {
  background: #615048;
}
.services-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.services-button:disabled {
  background: #e5e5e5;
}

/* Подпишитесь */
.newsletter-main {
  background: #82b3d3;
  color: #fff;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding: 94px;
  padding-top: 98px;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 29px;
  margin-top: -4px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-discription {
  margin-bottom: 46px;
  margin-left: 4px;
}

.field {
  padding: 0;
  padding-left: 22px;
  border-style: none;
  background: #f2f2f2;
  width: 578px;
  height: 60px;
  border-radius: 10px 0 0 10px;
}

.newsletter-button {
  background: #82b3d3;
  color: #fff;
  font-size: 20px;
  font-family: "PT Sans";
  line-height: 36px;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}
.newsletter-button:focus,
.newsletter-button:hover {
  background: #68a2ca;
}
.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.newsletter-button:disabled {
  background: #e5e5e5;
}
/* page-footer */

.phone-number {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-right: 12px;
}

.phone-number:hover,
.phone-number:focus {
  color: #756157;
}
.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

/* CATALOG */

.selection-wrapper {
  background-color: #82b3d3;
  color: #fff;
  background-image: url("../images/background-select.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

/* Сортировка гостиниц */
.search-result {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-control {
  height: 49px;
  width: 290px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 79px;
  margin-left: auto;
  padding-left: 14px;
}
.section-control:focus,
.section-control:hover {
  border-color: #68a2ca;
}
.section-control:active {
  border-color: #3f5e72;
}
.section-control:active {
  border-color: #3f5e72;
}
.section-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

/* Карточки гостиниц */
.search-wrapper {
  width: 1056px;
  margin: 0 auto;
  padding: 55px 71px 0 73px;
}

.sort-row-wrapper {
  display: flex;
  align-items: center;
}

.button-list {
  margin-right: 0;
}

.sort-row-wrapper > a {
  width: 48px;
  height: 48px;
  padding-top: 12px;
  margin-right: 5px;
  border: 2px solid #e5e5e5;
}
.sort-row-wrapper > a:hover {
  border: 2px solid #000000;
}
.sort-row-wrapper > a:focus {
  border: 2px solid #68a2ca;
}
.sort-row-wrapper > a:active {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  gap: 18px;
  margin: 0;
  list-style: none;
  padding-top: 75px;
  padding-bottom: 64px;
}

.product-card {
  justify-self: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 12px;
  margin-bottom: 16px;
}

.product-card-discription {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
}

.product-card-price {
  margin-right: 63px;
}

.rating-wrapper {
  margin-bottom: 20px;
}

.rating-wrapper,
.product-btn-wrap {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}

.product-card-stars {
  margin-top: 0;
  margin-bottom: 0;
}

.rating-wrapper:nth-child(3n) {
  margin-bottom: 0;
}

.product-card-rating {
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  text-align: center;
  padding-top: 9px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card-button {
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  background: #756157;
  padding: 9px 15px;
  width: 140px;
  border-radius: 4px;
}
.product-card-button:focus,
.product-card-button:hover {
  background: #615048;
}

.product-card-favorit {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  border-style: none;
  background: #82b3d3;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  cursor: pointer;
}

.product-card-favorit:focus,
.product-card-favorit:hover {
  background: #68a2ca;
}
.product-card-favorit:active {
  color: rgba(255, 255, 255, 0.3);
}

.product-card-selected {
  background: #7db54f;
}
.product-card-selected:focus,
.product-card-selected:hover {
  background: #6c9e42;
}
.product-card-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.apply-reset {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-apply {
  border: none;
  background: #82b3d3;
}
.button-apply:focus,
.button-apply:hover {
  background: #68a2ca;
}
.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  border: none;
  border-radius: 4px;
  font-weight: 400;
  background-color: transparent;
  text-transform: capitalize;
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  opacity: 0.3;
}
.button-reset:active {
  border: 3px solid #83b3d3;
}

.button-apply,
.button-reset {
  height: 48px;
  width: 160px;
  color: #fff;
  padding: 0;
  font-family: "PT Sans";
  font-weight: 700;
}

.pagination-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
}
.pagination-link:focus,
.pagination-link:hover {
  background-color: #68a2ca;
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
.pagination-current:focus,
.pagination-current:active,
.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 119px;
  margin-bottom: auto;
}

.pagination-row::before {
  content: "";
  width: 1055px;
  height: 0;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 0;
}

.pagination {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-display-wrap {
  display: flex;
  align-items: center;
}

.pagination-display-title {
  margin: 0;
  margin-right: 52px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-display {
  box-sizing: border-box;
  width: 160px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 16px;
}

/* 5.22. Сетка страниц и крупных блоков на флексах */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.slogan {
  width: 1200px;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 76px;
}

/* Услуги */
.newsletter {
  text-align: center;
  padding: 94px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 70px 30px 70px;
}

.footer-social-list {
  list-style-type: none;
  max-width: 250px;
  min-height: 27px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  margin-left: 11px;
}
.phone-footer {
  margin: 0;
}

.logo-about > svg {
  fill: #000;
  vertical-align: bottom;
}
.logo-about:focus > svg,
.logo-about:hover > svg {
  fill: #756157;
}
.logo-about:active > svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* Соц-сети */
.social-button {
  margin-right: 27px;
}
.social-button > svg {
  fill: #83b3d3;
}
.social-button:focus > svg,
.social-button:hover > svg {
  fill: #68a2ca;
}
.social-button:active > svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* --------CATALOG ------*/
.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 39px;
  margin-left: 2.1px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  min-width: 12px;
  min-height: 12px;
  margin-right: 25px;
  color: #ffffff;
}
.breadcrumbs-link:focus,
.breadcrumbs-link > svg,
.breadcrumbs-link:focus > svg {
  fill: #ffffff;
  color: #ffffff;
}
.breadcrumbs-link:hover,
.breadcrumbs-link:hover > svg {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:active,
.breadcrumbs-link:active > svg {
  fill: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs::after {
  background-image: url("../images/row.svg");
  background-repeat: no-repeat;
  width: 5.11px;
  height: 7.95px;
  content: "";
  position: absolute;
  left: 24px;
  bottom: 7px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  padding: 0;
  margin-bottom: 26px;
  margin-right: 71px;
}

.catalog-filter-item {
  margin-bottom: 10px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}
