@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Body */

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #fff;
  color: #000;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Навигация */
.navigation-item a {
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.navigation-button a {
  background-color: #756157;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

/* Слоган */

.slogan-background {
  text-align: center;
  background-color: #b8d3e6;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-slogan {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subslogan {
  color: #333333;
  text-align: center;
}

/* Приемущества */

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.advantages-wrapper {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-disription {
  color: #333333;
}

.advantages-wrapper-sity,
.advantages-wrapper-diablo {
  background: #82b3d3;
  color: #fff;
}

.advantages-disription-main {
  color: #fff;
}

.advantages-wrapper-light {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper-dark {
  background: rgba(131, 179, 211, 0.2);
}
/* Услуги */

.services {
  text-align: center;
}

.services-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.services-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.services-button {
  text-decoration: none;
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Подпишитесь */

.newsletter-main {
  background: #82b3d3;
  color: #fff;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-button {
  background: #82b3d3;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}
/* page-footer */

.phone-number {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

/* CATALOG */

.selection-wrapper {
  background-color: #82b3d3;
  color: #fff;
  background-image: url("../images/background-select.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Сортировка гостиниц */
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-control {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-discription {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-apply {
  background: #82b3d3;
  color: #fff;
}

.button-reset {
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  text-transform: capitalize;
}

.product-card-button {
  color: #fff;
  background: #756157;
}

.product-card-favorit {
  background: #82b3d3;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Для кнопки в статусе: "В избранном" */
.product-card-selected {
  background: #7DB54F;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
}

.pagination-display-title {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.newsletter {
  text-align: center;
}
